[submodule "slib"]
	path = slib
	url = https://github.com/sagsango/slib.git
[submodule "cs454-code"]
	path = cs454-code
	url = https://github.com/sagsango/cs454-code.git
[submodule "cmu-csapp-lab"]
	path = cmu-csapp-lab
	url = https://github.com/sagsango/cmu-csapp-lab.git
[submodule "shypervisor"]
	path = shypervisor
	url = https://github.com/sagsango/shypervisor.git
[submodule "svcontrol"]
	path = svcontrol
	url = https://github.com/sagsango/svcontrol.git
[submodule "sgdb"]
	path = sgdb
	url = https://github.com/sagsango/sgdb.git
[submodule "sloader"]
	path = sloader
	url = https://github.com/sagsango/sloader.git
[submodule "sgrind"]
	path = sgrind
	url = https://github.com/sagsango/sgrind.git
[submodule "skernel"]
	path = skernel
	url = https://github.com/sagsango/skernel.git
[submodule "sdyninst"]
	path = sdyninst
	url = https://github.com/sagsango/sdyninst.git
[submodule "sobjdump"]
	path = sobjdump
	url = https://github.com/sagsango/sobjdump.git
[submodule "sreadelf"]
	path = sreadelf
	url = https://github.com/sagsango/sreadelf.git
